h1 {
  font-size: 1.5em;
}

.box {
  padding: 0.5em 1em;
  margin: 15px 0;
  width: auto;
  background: rgb(255, 255, 255);
  border: solid 3px #6091d3;
  border-radius: 5px;
  white-space: nowrap;
}

.btn {
  height: 51px;
  background: rgb(137, 182, 227);
  border: solid 3px #ffffff;
  border-radius: 5px;
  padding: 10px;
  margin-right: 5px;
  font-weight: bold;
}

.btn:hover {
  background: rgb(179, 209, 238);
}

.btn:active {
  background: rgb(104, 114, 123);
}

.memo {
  margin: 0;
}

audio {
  margin: -20px;
  margin-left: 20px;
}

footer {
  position: fixed;
  padding: 10px;
  left: 0;
  bottom: 0;
  background-color: rgb(226, 226, 226);
}

body {
  padding-bottom: 100px;
}

#reset {
  background-color: crimson;
  color: #ffffff;
  margin-right: 40px;
}

#reset:hover {
  background: rgb(238, 179, 187);
}

#reset:active {
  background: rgb(123, 104, 106);
}
